body {
  margin: 0 0;

  font-family: monaco, monospace;
}

#workspace {
  position: fixed;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 600px;
  height: 500px;

  border: 40px solid #ccc;
}

#workspace #controls {
  position: absolute;

  font-size: 12px;

  top: 50%;
  right: -10px;

  transform: translate(100%, -50%);
}

#workspace #foot {
  position: absolute;

  width: 100px;
  height: 80px;

  left: 50%;
  bottom: 0;

  background-color: #ccc;

  transform: translate(-50%, 100%);
}

#workspace #foot-foot {
  position: absolute;

  width: 200px;
  height: 20px;

  left: 50%;
  bottom: -80px;

  background-color: #ccc;

  transform: translate(-50%, 100%);
}


#text-editor {
  position: absolute;
  height: 100%;
  transition: opacity 0.4s ease;
}